table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

td {
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
